In [27]:
import os
import pandas as pd

### 225개의 음식점 데이터를 하나의 데이터프레임으로 변환. (리뷰가 없는 27개 데이터는 포함되지 않는다.)

# 파일이 위치한 디렉토리 경로
directory_path = '../data2/최종 data2'

# 모든 CSV 파일을 읽고 파일명을 새로운 열로 추가
all_data = []
for file in os.listdir(directory_path):
    if file.endswith('.csv'):
        file_path = os.path.join(directory_path, file)
        df = pd.read_csv(file_path)
        df['merchant'] = file.strip('.csv')  # 파일명을 새로운 열로 추가
        all_data.append(df)

# 모든 데이터를 하나의 데이터프레임으로 결합
combined_df = pd.concat(all_data, ignore_index=True)

# 결과 확인
combined_df

C:\Users\Jws\AppData\Local\Temp\ipykernel_32544\1098188438.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat(all_data, ignore_index=True)

,user_name,user_rank,num_response,user_star,time,rating,content,merchant
0,2018.05.10,22,58,2.5,2024.04.21.,5.0,"까페에서 책 읽기를 좋아하는 사람인데요. 매우 쾌적하고 음악으로, 다른 손님 때문에...",1984
1,ㅇㅅㅇ,2,3,2.3,2024.03.22.,1.0,NaN,1984
2,맛난곳만리뷰,7,7,5.0,2024.02.10.,5.0,다양한 볼거리들 있어서 좋아요 분위기도 괜찮구여,1984
3,진아,25,58,4.6,2024.02.05.,4.0,넓고 음료 ㄱㅊ앉아있기 좋음뭐 살 것도 있음,1984
4,박찬찬,27,71,3.9,2023.12.16.,1.0,"분위기는 좋으나, 장사할 생각 없어보임커피값도 비싼 편인데 돈값 못함카페는 부수적인...",1984
...,...,...,...,...,...,...,...,...
22378,ㅇㅅㅇ,31,122,4.0,2019.12.28.,5.0,역대급 최고인데여?????,훠궈나라 홍대점
22379,상준,3,2,5.0,2019.12.14.,5.0,굿굿굿,훠궈나라 홍대점
22380,.,9,15,4.3,2019.11.18.,5.0,맛있어요. 몇번왔어요. 생각나는 맛이에요ㅜㅠ,훠궈나라 홍대점
22381,김후연,2,1,1.0,2019.11.03.,1.0,맛없음,훠궈나라 홍대점
22382,아임,10,16,4.1,2019.10.01.,4.0,"백탕, 홍탕으로 먹었는데, 홍탕은 매운 레벨 낮춰서 드시길..생각보다 혀가 얼얼해요...",훠궈나라 홍대점

In [28]:
len(combined_df['merchant'].unique())

198

In [29]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22383 entries, 0 to 22382
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_name     22361 non-null  object
 1   user_rank     22383 non-null  object
 2   num_response  22383 non-null  object
 3   user_star     22383 non-null  float64
 4   time          22383 non-null  object
 5   rating        22383 non-null  float64
 6   content       18674 non-null  object
 7   merchant      22383 non-null  object
dtypes: float64(2), object(6)
memory usage: 1.4+ MB

In [30]:
## merchant열을 가장 앞으로 옮기기 
# 'merchant' 열을 먼저 추출하고 데이터프레임의 첫 번째 위치로 추가
merchant_col = combined_df.pop('merchant')
combined_df.insert(0, 'merchant', merchant_col)

# 결과 확인
print(combined_df.head())

  merchant   user_name user_rank num_response  user_star         time  rating  \
0     1984  2018.05.10        22           58        2.5  2024.04.21.     5.0
1     1984         ㅇㅅㅇ         2            3        2.3  2024.03.22.     1.0
2     1984      맛난곳만리뷰         7            7        5.0  2024.02.10.     5.0
3     1984          진아        25           58        4.6  2024.02.05.     4.0
4     1984         박찬찬        27           71        3.9  2023.12.16.     1.0

                                             content
0  까페에서 책 읽기를 좋아하는 사람인데요. 매우 쾌적하고 음악으로, 다른 손님 때문에...
1                                                NaN
2                         다양한 볼거리들 있어서 좋아요 분위기도 괜찮구여
3                           넓고 음료 ㄱㅊ앉아있기 좋음뭐 살 것도 있음
4  분위기는 좋으나, 장사할 생각 없어보임커피값도 비싼 편인데 돈값 못함카페는 부수적인...

In [31]:
combined_df

,merchant,user_name,user_rank,num_response,user_star,time,rating,content
0,1984,2018.05.10,22,58,2.5,2024.04.21.,5.0,"까페에서 책 읽기를 좋아하는 사람인데요. 매우 쾌적하고 음악으로, 다른 손님 때문에..."
1,1984,ㅇㅅㅇ,2,3,2.3,2024.03.22.,1.0,NaN
2,1984,맛난곳만리뷰,7,7,5.0,2024.02.10.,5.0,다양한 볼거리들 있어서 좋아요 분위기도 괜찮구여
3,1984,진아,25,58,4.6,2024.02.05.,4.0,넓고 음료 ㄱㅊ앉아있기 좋음뭐 살 것도 있음
4,1984,박찬찬,27,71,3.9,2023.12.16.,1.0,"분위기는 좋으나, 장사할 생각 없어보임커피값도 비싼 편인데 돈값 못함카페는 부수적인..."
...,...,...,...,...,...,...,...,...
22378,훠궈나라 홍대점,ㅇㅅㅇ,31,122,4.0,2019.12.28.,5.0,역대급 최고인데여?????
22379,훠궈나라 홍대점,상준,3,2,5.0,2019.12.14.,5.0,굿굿굿
22380,훠궈나라 홍대점,.,9,15,4.3,2019.11.18.,5.0,맛있어요. 몇번왔어요. 생각나는 맛이에요ㅜㅠ
22381,훠궈나라 홍대점,김후연,2,1,1.0,2019.11.03.,1.0,맛없음
22382,훠궈나라 홍대점,아임,10,16,4.1,2019.10.01.,4.0,"백탕, 홍탕으로 먹었는데, 홍탕은 매운 레벨 낮춰서 드시길..생각보다 혀가 얼얼해요..."

In [32]:
combined_df.to_csv('../data2/review_df.csv',index=False)

In [33]:
a = pd.read_csv('../data2/review_df.csv')

In [34]:
a

,merchant,user_name,user_rank,num_response,user_star,time,rating,content
0,1984,2018.05.10,22,58,2.5,2024.04.21.,5.0,"까페에서 책 읽기를 좋아하는 사람인데요. 매우 쾌적하고 음악으로, 다른 손님 때문에..."
1,1984,ㅇㅅㅇ,2,3,2.3,2024.03.22.,1.0,NaN
2,1984,맛난곳만리뷰,7,7,5.0,2024.02.10.,5.0,다양한 볼거리들 있어서 좋아요 분위기도 괜찮구여
3,1984,진아,25,58,4.6,2024.02.05.,4.0,넓고 음료 ㄱㅊ앉아있기 좋음뭐 살 것도 있음
4,1984,박찬찬,27,71,3.9,2023.12.16.,1.0,"분위기는 좋으나, 장사할 생각 없어보임커피값도 비싼 편인데 돈값 못함카페는 부수적인..."
...,...,...,...,...,...,...,...,...
22378,훠궈나라 홍대점,ㅇㅅㅇ,31,122,4.0,2019.12.28.,5.0,역대급 최고인데여?????
22379,훠궈나라 홍대점,상준,3,2,5.0,2019.12.14.,5.0,굿굿굿
22380,훠궈나라 홍대점,.,9,15,4.3,2019.11.18.,5.0,맛있어요. 몇번왔어요. 생각나는 맛이에요ㅜㅠ
22381,훠궈나라 홍대점,김후연,2,1,1.0,2019.11.03.,1.0,맛없음
22382,훠궈나라 홍대점,아임,10,16,4.1,2019.10.01.,4.0,"백탕, 홍탕으로 먹었는데, 홍탕은 매운 레벨 낮춰서 드시길..생각보다 혀가 얼얼해요..."

In [23]:
b = pd.read_csv('../data1/data.csv')

In [26]:
b

,merchant,category,star,address,oper_time,starCount,reviewCount
0,피오니 홍대점,카페,3.8,서울마포구 독막로7길51 1층(우)04043,매일 12:00 ~ 21:00\r\n\r\n매일 라스트오더 ~ 20:30,274,642
1,943킹스크로스,테마카페,4.1,"서울마포구 양화로16길24 지하1층,1~4층(우)04039",월~목 11:30 ~ 21:30\r\n\r\n금~일 10:00 ~ 21:30,360,191
2,카미야,"돈까스,우동",4.2,서울마포구 와우산로21길28-6 지하1층(우)04040,매일 11:00 ~ 21:30\r\n\r\n매일 라스트오더 ~ 21:00,191,426
3,우와 홍대본점,일식,3.4,서울마포구 와우산로21길21-16 2층202호(우)04041,매일 12:00 ~ 22:00월~금 휴게시간 14:30 ~ 17:00,168,624
4,칸다소바 홍대점,일본식라면,4.3,서울마포구 와우산로51-6 1층(우)04049,매일 10:30 ~ 21:30\r\n\r\n월~토 휴게시간 16:00 ~ 17:00...,280,439
...,...,...,...,...,...,...,...
220,키즈나,일본식주점,4.2,서울마포구 와우산로29바길6 지층(우)04053,화~일 17:00 ~ 02:00,29,51
221,앤디스커피,카페,3.3,"서울마포구 와우산로35길75 2,3층(우)04052","월~금 10:00 ~ 23:00\r\n\r\n토,일 11:00 ~ 23:00",30,3
222,델문도,카페,2.9,서울마포구 잔다리로19-6 2층(우)04048,"월~금 13:00 ~ 21:00\r\n\r\n토,일 12:00 ~ 21:00",64,90
223,스노브,디저트카페,3.5,서울마포구 와우산로59 (우)04049,매일 11:00 ~ 23:00,47,30
224,오니,일본식주점,0.0,"서울마포구 어울마당로75 2,3층(우)04042","월,화,수,목,일 16:00 ~ 05:00\r\n\r\n금,토 16:00 ~ 06:...",0,70