### 거주인구 나이대 구분

In [1]:
import pandas as pd

In [16]:
popul = pd.read_csv('../../../data/경기도/전처리 후/시군별_연령대별_인구수_2023.csv',encoding='cp949')

In [17]:
df = pd.read_csv('../../../data/경기도/전처리 후/생활인구,거주인구.csv')

In [33]:
## popul에 시군명 양옆 공백 제거
popul['시군명'] = popul['시군명'].str.strip()

In [28]:
df

,기준년월,시군명,총인구수,신규가입자수,월별충전액,월별사용액,가맹점수,생활인구수,인당사용액(생활),인당사용액(인구)
0,2023-01,가평군,62114,717.0,3140,3540,3354,72214,49020,56991
1,2023-02,가평군,62069,769.0,3032,3092,3354,72214,42817,49815
2,2023-03,가평군,61969,3130.0,4284,3609,3354,72214,49976,58238
3,2023-04,가평군,61915,855.0,3668,4057,3354,72214,56180,65525
4,2023-05,가평군,61836,871.0,5064,3785,3354,72214,52413,61210
...,...,...,...,...,...,...,...,...,...,...
338,2023-07,화성시,932626,8026.0,36869,36480,27663,919545,39671,39115
339,2023-08,화성시,934287,7804.0,34116,35008,27663,919545,38071,37470
340,2023-09,화성시,937189,7792.0,40559,36188,27663,919545,39354,38613
341,2023-10,화성시,939302,7667.0,37117,38199,27663,919545,41541,40667
342,2023-11,화성시,941489,6808.0,34953,32898,27663,919545,35776,34942

In [24]:
popul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기준년월    372 non-null    object
 1   시군명     372 non-null    object
 2   20~29세  372 non-null    int64
 3   30~39세  372 non-null    int64
 4   40~49세  372 non-null    int64
 5   50~59세  372 non-null    int64
 6   60세 이상  372 non-null    int64
dtypes: int64(5), object(2)
memory usage: 20.5+ KB

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343 entries, 0 to 342
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기준년월       343 non-null    object
 1   시군명        343 non-null    object
 2   총인구수       343 non-null    int64
 3   신규가입자수     343 non-null    float64
 4   월별충전액      343 non-null    int64
 5   월별사용액      343 non-null    int64
 6   가맹점수       343 non-null    int64
 7   생활인구수      343 non-null    int64
 8   인당사용액(생활)  343 non-null    int64
 9   인당사용액(인구)  343 non-null    int64
dtypes: float64(1), int64(7), object(2)
memory usage: 26.9+ KB

In [37]:
total_df = pd.merge(df, popul, how='left', on=['기준년월','시군명'])
total_df

,기준년월,시군명,총인구수,신규가입자수,월별충전액,월별사용액,가맹점수,생활인구수,인당사용액(생활),인당사용액(인구),20~29세,30~39세,40~49세,50~59세,60세 이상
0,2023-01,가평군,62114,717.0,3140,3540,3354,72214,49020,56991,5882,5382,7565,10860,25115
1,2023-02,가평군,62069,769.0,3032,3092,3354,72214,42817,49815,5836,5385,7554,10837,25164
2,2023-03,가평군,61969,3130.0,4284,3609,3354,72214,49976,58238,5802,5364,7537,10806,25214
3,2023-04,가평군,61915,855.0,3668,4057,3354,72214,56180,65525,5793,5325,7521,10730,25326
4,2023-05,가평군,61836,871.0,5064,3785,3354,72214,52413,61210,5754,5338,7472,10735,25372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,2023-07,화성시,932626,8026.0,36869,36480,27663,919545,39671,39115,110757,153676,181999,134524,146856
339,2023-08,화성시,934287,7804.0,34116,35008,27663,919545,38071,37470,110802,153985,182181,135008,147582
340,2023-09,화성시,937189,7792.0,40559,36188,27663,919545,39354,38613,110749,154707,182671,135630,148406
341,2023-10,화성시,939302,7667.0,37117,38199,27663,919545,41541,40667,110879,155009,182965,136303,149242
342,2023-11,화성시,941489,6808.0,34953,32898,27663,919545,35776,34942,110779,155213,183260,137311,149846

In [38]:
total_df.to_csv('../../../data/경기도/전처리 후/생활인구,거주인구,나이대인구.csv',index=False)

### 위의 df는 인센티브 반영하다가 12월 없는 시군도 있다.

In [65]:
new = pd.read_csv('../../../data/경기도/원본/지역화폐발행및이용현황.csv', encoding='cp949')
new

     시군명     기준년월  월별신규가입자수(명)  월별충전액(백만원)  월별사용액(백만원)
0    가평군  2023-12        484.0        4051        2140
1    가평군  2023-11        458.0        2368        2187
2    가평군  2023-10        555.0        2596        2335
3    가평군  2023-09        782.0        3113        2376
4    가평군  2023-08        473.0        3631        2392
..   ...      ...          ...         ...         ...
367  화성시  2023-05       6717.0       35058       37413
368  화성시  2023-04       8440.0       35557       35525
369  화성시  2023-03       9111.0       35906       36982
370  화성시  2023-02       7829.0       30162       33325
371  화성시  2023-01       7038.0       29534       35112

[372 rows x 5 columns]

In [68]:
new.columns = ['시군명','기준년월', '신규가입자','월별충전액','월별사용액']
new

     시군명     기준년월   신규가입자  월별충전액  월별사용액
0    가평군  2023-12   484.0   4051   2140
1    가평군  2023-11   458.0   2368   2187
2    가평군  2023-10   555.0   2596   2335
3    가평군  2023-09   782.0   3113   2376
4    가평군  2023-08   473.0   3631   2392
..   ...      ...     ...    ...    ...
367  화성시  2023-05  6717.0  35058  37413
368  화성시  2023-04  8440.0  35557  35525
369  화성시  2023-03  9111.0  35906  36982
370  화성시  2023-02  7829.0  30162  33325
371  화성시  2023-01  7038.0  29534  35112

[372 rows x 5 columns]

In [45]:
live = pd.read_csv('../../../data/경기도/전처리 후/2023년각월경기도인구.csv')

In [63]:
live[live['시군명'] == '의왕시']

        기준년월  시군명    총인구수
23   2023-12  의왕시  158870
54   2023-11  의왕시  159050
85   2023-10  의왕시  158242
116  2023-09  의왕시  158242
147  2023-08  의왕시  158242
178  2023-07  의왕시  158242
209  2023-06  의왕시  158034
240  2023-05  의왕시  158387
271  2023-04  의왕시  158882
302  2023-03  의왕시  159246
333  2023-02  의왕시  159701
364  2023-01  의왕시  160067

In [62]:
## 군포, 하남, 의왕시 이상치 처리
live.iloc[178,2] = 158242

In [64]:
## 이상치 처리 완료한 거 저장
live.to_csv('../../../data/경기도/전처리 후/2023년각월경기도인구.csv',index=False)

In [70]:
## 가맹점 수 
count_store = pd.read_csv('../../../data/경기도/전처리 후/count_store.csv')
count_store

     시군명   가맹점수
0    가평군   3354
1    고양시  26672
2    과천시   1674
3    광명시   7835
4    광주시  11204
5    구리시   6281
6    군포시   7369
7    김포시  14172
8   남양주시  20530
9   동두천시   3308
10   부천시  26036
11   성남시  17758
12   수원시  37485
13   시흥시  14727
14   안산시  21302
15   안성시   7662
16   안양시  16937
17   양주시   9736
18   양평군   4476
19   여주시   4708
20   연천군   2169
21   오산시   7052
22   용인시  25683
23   의왕시   3329
24  의정부시  13485
25   이천시   8427
26   파주시  15986
27   평택시  20599
28   포천시   6566
29   하남시   9206
30   화성시  27663

In [73]:
new2 = pd.merge(new , count_store, how='left',on='시군명')
new2

     시군명     기준년월   신규가입자  월별충전액  월별사용액   가맹점수
0    가평군  2023-12   484.0   4051   2140   3354
1    가평군  2023-11   458.0   2368   2187   3354
2    가평군  2023-10   555.0   2596   2335   3354
3    가평군  2023-09   782.0   3113   2376   3354
4    가평군  2023-08   473.0   3631   2392   3354
..   ...      ...     ...    ...    ...    ...
367  화성시  2023-05  6717.0  35058  37413  27663
368  화성시  2023-04  8440.0  35557  35525  27663
369  화성시  2023-03  9111.0  35906  36982  27663
370  화성시  2023-02  7829.0  30162  33325  27663
371  화성시  2023-01  7038.0  29534  35112  27663

[372 rows x 6 columns]

In [75]:
new3 = pd.merge(new2, live, how='left', on=['시군명','기준년월'])
new3

     시군명     기준년월   신규가입자  월별충전액  월별사용액   가맹점수    총인구수
0    가평군  2023-12   484.0   4051   2140   3354   62302
1    가평군  2023-11   458.0   2368   2187   3354   62131
2    가평군  2023-10   555.0   2596   2335   3354   62125
3    가평군  2023-09   782.0   3113   2376   3354   61976
4    가평군  2023-08   473.0   3631   2392   3354   61773
..   ...      ...     ...    ...    ...    ...     ...
367  화성시  2023-05  6717.0  35058  37413  27663  928550
368  화성시  2023-04  8440.0  35557  35525  27663  925186
369  화성시  2023-03  9111.0  35906  36982  27663  922231
370  화성시  2023-02  7829.0  30162  33325  27663  918865
371  화성시  2023-01  7038.0  29534  35112  27663  914500

[372 rows x 7 columns]

In [77]:
life = pd.read_csv('../../../data/경기도/원본/생활인구/전처리/생활인구하루평균.csv')
life

     시군명      인구수
0    가평군    72214
1    고양시   992201
2    과천시    83240
3    광명시   249443
4    광주시   354899
5    구리시   176175
6    군포시   244694
7    김포시   469345
8   남양주시   653388
9   동두천시    86257
10   부천시   763602
11   성남시   986117
12   수원시  1155757
13   시흥시   507287
14   안산시   681173
15   안성시   211614
16   안양시   543914
17   양주시   235005
18   양평군   116867
19   여주시   122555
20   연천군    49343
21   오산시   225973
22   용인시  1050657
23   의왕시   178713
24  의정부시   419111
25   이천시   250471
26   파주시   510787
27   평택시   627320
28   포천시   171992
29   하남시   304452
30   화성시   919545

In [78]:
life.columns = ['시군명','생활인구수']
life

     시군명    생활인구수
0    가평군    72214
1    고양시   992201
2    과천시    83240
3    광명시   249443
4    광주시   354899
5    구리시   176175
6    군포시   244694
7    김포시   469345
8   남양주시   653388
9   동두천시    86257
10   부천시   763602
11   성남시   986117
12   수원시  1155757
13   시흥시   507287
14   안산시   681173
15   안성시   211614
16   안양시   543914
17   양주시   235005
18   양평군   116867
19   여주시   122555
20   연천군    49343
21   오산시   225973
22   용인시  1050657
23   의왕시   178713
24  의정부시   419111
25   이천시   250471
26   파주시   510787
27   평택시   627320
28   포천시   171992
29   하남시   304452
30   화성시   919545

In [85]:
new4 = pd.merge(new3, life, how='left', on='시군명')
new4

     시군명     기준년월   신규가입자  월별충전액  월별사용액   가맹점수    총인구수   생활인구수
0    가평군  2023-12   484.0   4051   2140   3354   62302   72214
1    가평군  2023-11   458.0   2368   2187   3354   62131   72214
2    가평군  2023-10   555.0   2596   2335   3354   62125   72214
3    가평군  2023-09   782.0   3113   2376   3354   61976   72214
4    가평군  2023-08   473.0   3631   2392   3354   61773   72214
..   ...      ...     ...    ...    ...    ...     ...     ...
367  화성시  2023-05  6717.0  35058  37413  27663  928550  919545
368  화성시  2023-04  8440.0  35557  35525  27663  925186  919545
369  화성시  2023-03  9111.0  35906  36982  27663  922231  919545
370  화성시  2023-02  7829.0  30162  33325  27663  918865  919545
371  화성시  2023-01  7038.0  29534  35112  27663  914500  919545

[372 rows x 8 columns]

In [80]:
popul = pd.read_csv('../../../data/경기도/전처리 후/시군별_연령대별_인구수_2023.csv',encoding='cp949')
popul

        기준년월   시군명  20~29세  30~39세  40~49세  50~59세  60세 이상
0    2023-01  가평군     5882    5382    7565   10860   25115
1    2023-01  고양시   139637  143181  172725  198039  249171
2    2023-01  과천시     9740   11644   11948   12986   17133
3    2023-01  광명시    34817   38209   48412   48699   68154
4    2023-01  광주시    43369   53930   68845   66813   91982
..       ...   ...     ...     ...     ...     ...     ...
367  2023-12  파주시    56512   69216   84109   82770  113223
368  2023-12  평택시    76968   92619  100863   98139  117794
369  2023-12  포천시    16074   13767   17319   27974   51044
370  2023-12  하남시    35977   51573   61110   48250   70493
371  2023-12  화성시   110981  155558  183476  138446  150706

[372 rows x 7 columns]

In [88]:
## popul에 시군명 양옆 공백 제거
popul['시군명'] = popul['시군명'].str.strip()
popul.to_csv('../../../data/경기도/전처리 후/시군별_연령대별_인구수_2023.csv')

In [90]:
new4 = pd.merge(new4, popul, how='left',on=['기준년월','시군명'])
new4

,시군명,기준년월,신규가입자,월별충전액,월별사용액,가맹점수,총인구수,생활인구수,20~29세,30~39세,40~49세,50~59세,60세 이상
0,가평군,2023-12,484.0,4051,2140,3354,62302,72214,5700,5437,7459,10845,25749
1,가평군,2023-11,458.0,2368,2187,3354,62131,72214,5677,5426,7435,10788,25686
2,가평군,2023-10,555.0,2596,2335,3354,62125,72214,5685,5415,7438,10767,25662
3,가평군,2023-09,782.0,3113,2376,3354,61976,72214,5681,5383,7438,10736,25587
4,가평군,2023-08,473.0,3631,2392,3354,61773,72214,5689,5315,7410,10715,25489
...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,화성시,2023-05,6717.0,35058,37413,27663,928550,919545,110625,153118,181286,133438,145333
368,화성시,2023-04,8440.0,35557,35525,27663,925186,919545,110518,152265,180984,132479,144507
369,화성시,2023-03,9111.0,35906,36982,27663,922231,919545,110109,151668,180807,131884,143344
370,화성시,2023-02,7829.0,30162,33325,27663,918865,919545,109856,150834,180450,131143,142350
371,화성시,2023-01,7038.0,29534,35112,27663,914500,919545,109773,150480,179194,130278,141374

In [91]:
## new4 : 2023년 지역화폐 및 인구 데이터
new4.to_csv('../../../data/경기도/전처리 후/total_df/2023년 지역화폐,인구.csv',index=False)