In [1]:
import pandas as pd

In [6]:
## 시군별 유동인구 데이터
move = pd.read_csv('../../data/경기도/원본/유동인구/시군별유동인구데이터.csv',encoding='cp949')

In [7]:
move

,년월,출발지(야간체류지) 시군코드,출발지역명,도착지 시군코드,도착지역명,10대남성 유입인구,20대남성 유입인구,30대남성 유입인구,40대남성 유입인구,50대남성 유입인구,60대남성 유입인구,70대남성 유입인구,10대여성 유입인구,20대여성 유입인구,30대여성 유입인구,40대여성 유입인구,50대여성 유입인구,60대여성 유입인구,70대여성 유입인구
0,202003,50110,N,41610,N,5.32,2.23,14.09,12.58,13.03,5.11,4.00,1.54,5.95,5.69,8.06,4.80,2.04,6.32
1,202003,50110,N,41630,N,1.22,2.75,4.91,4.16,4.50,2.51,0.29,0.85,0.44,2.14,2.88,2.84,1.49,1.13
2,202003,50110,N,41650,N,0.44,5.62,2.76,4.19,3.93,2.24,1.29,1.14,2.79,2.61,1.41,2.07,1.28,1.51
3,202003,50110,N,41670,N,0.14,0.80,2.56,5.25,6.39,2.38,0.76,1.15,2.08,2.38,2.97,1.12,2.57,0.30
4,202003,50110,N,41800,N,0.11,1.04,0.64,1.06,0.59,0.19,0.00,0.10,0.57,0.56,0.06,0.00,0.58,0.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85099,202012,43130,N,41480,N,2.58,23.99,9.56,13.18,9.89,4.22,1.66,0.36,24.21,4.28,6.29,3.58,2.33,1.95
85100,202012,43130,N,41500,N,20.42,56.43,70.36,95.04,103.09,46.47,11.65,39.20,37.42,31.18,38.50,47.00,23.74,15.55
85101,202012,43130,N,41550,N,26.22,33.69,28.72,53.17,44.55,21.85,5.36,9.44,32.81,26.23,23.33,12.36,5.90,3.24
85102,202012,43130,N,41570,N,11.37,29.05,7.84,17.33,21.98,10.14,0.50,2.97,14.63,2.35,2.32,5.91,4.13,3.68
85103,202012,43130,N,41590,N,21.74,40.94,36.96,76.66,79.58,30.43,11.63,10.64,38.14,21.15,18.95,19.91,19.36,7.92

In [16]:
## 출발지역명, 도착지역명 컬럼 제거
move.drop(columns=['출발지역명','도착지역명'],inplace=True)

In [11]:
move['도착지 시군코드'].unique()

array([41610, 41630, 41650, 41670, 41800, 41820, 41830, 41110, 41130,
       41150, 41170, 41190, 41210, 41220, 41250, 41270, 41280, 41290,
       41310, 41360, 41370, 41390, 41550, 41570, 41590, 41410, 41430,
       41450, 41460, 41480, 41500], dtype=int64)

In [30]:
move

,년월,출발지(야간체류지) 시군코드,도착지 시군코드,10대남성 유입인구,20대남성 유입인구,30대남성 유입인구,40대남성 유입인구,50대남성 유입인구,60대남성 유입인구,70대남성 유입인구,10대여성 유입인구,20대여성 유입인구,30대여성 유입인구,40대여성 유입인구,50대여성 유입인구,60대여성 유입인구,70대여성 유입인구
0,202003,50110,41610,5.32,2.23,14.09,12.58,13.03,5.11,4.00,1.54,5.95,5.69,8.06,4.80,2.04,6.32
1,202003,50110,41630,1.22,2.75,4.91,4.16,4.50,2.51,0.29,0.85,0.44,2.14,2.88,2.84,1.49,1.13
2,202003,50110,41650,0.44,5.62,2.76,4.19,3.93,2.24,1.29,1.14,2.79,2.61,1.41,2.07,1.28,1.51
3,202003,50110,41670,0.14,0.80,2.56,5.25,6.39,2.38,0.76,1.15,2.08,2.38,2.97,1.12,2.57,0.30
4,202003,50110,41800,0.11,1.04,0.64,1.06,0.59,0.19,0.00,0.10,0.57,0.56,0.06,0.00,0.58,0.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85099,202012,43130,41480,2.58,23.99,9.56,13.18,9.89,4.22,1.66,0.36,24.21,4.28,6.29,3.58,2.33,1.95
85100,202012,43130,41500,20.42,56.43,70.36,95.04,103.09,46.47,11.65,39.20,37.42,31.18,38.50,47.00,23.74,15.55
85101,202012,43130,41550,26.22,33.69,28.72,53.17,44.55,21.85,5.36,9.44,32.81,26.23,23.33,12.36,5.90,3.24
85102,202012,43130,41570,11.37,29.05,7.84,17.33,21.98,10.14,0.50,2.97,14.63,2.35,2.32,5.91,4.13,3.68
85103,202012,43130,41590,21.74,40.94,36.96,76.66,79.58,30.43,11.63,10.64,38.14,21.15,18.95,19.91,19.36,7.92

In [31]:
# 유입인구 관련 컬럼만 선택하여 합계 계산
columns_to_sum_new = [col for col in move.columns if '유입인구' in col]
move['종합 유입인구'] = move[columns_to_sum_new].sum(axis=1)

In [36]:
move.columns = ['년월', '출발지코드', '도착지코드', '10대남성 유입인구', '20대남성 유입인구',
       '30대남성 유입인구', '40대남성 유입인구', '50대남성 유입인구', '60대남성 유입인구', '70대남성 유입인구',
       '10대여성 유입인구', '20대여성 유입인구', '30대여성 유입인구', '40대여성 유입인구', '50대여성 유입인구',
       '60대여성 유입인구', '70대여성 유입인구', '종합 유입인구']
move

,년월,출발지코드,도착지코드,10대남성 유입인구,20대남성 유입인구,30대남성 유입인구,40대남성 유입인구,50대남성 유입인구,60대남성 유입인구,70대남성 유입인구,10대여성 유입인구,20대여성 유입인구,30대여성 유입인구,40대여성 유입인구,50대여성 유입인구,60대여성 유입인구,70대여성 유입인구,종합 유입인구
0,202003,50110,41610,5.32,2.23,14.09,12.58,13.03,5.11,4.00,1.54,5.95,5.69,8.06,4.80,2.04,6.32,90.76
1,202003,50110,41630,1.22,2.75,4.91,4.16,4.50,2.51,0.29,0.85,0.44,2.14,2.88,2.84,1.49,1.13,32.11
2,202003,50110,41650,0.44,5.62,2.76,4.19,3.93,2.24,1.29,1.14,2.79,2.61,1.41,2.07,1.28,1.51,33.28
3,202003,50110,41670,0.14,0.80,2.56,5.25,6.39,2.38,0.76,1.15,2.08,2.38,2.97,1.12,2.57,0.30,30.85
4,202003,50110,41800,0.11,1.04,0.64,1.06,0.59,0.19,0.00,0.10,0.57,0.56,0.06,0.00,0.58,0.83,6.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85099,202012,43130,41480,2.58,23.99,9.56,13.18,9.89,4.22,1.66,0.36,24.21,4.28,6.29,3.58,2.33,1.95,108.08
85100,202012,43130,41500,20.42,56.43,70.36,95.04,103.09,46.47,11.65,39.20,37.42,31.18,38.50,47.00,23.74,15.55,636.05
85101,202012,43130,41550,26.22,33.69,28.72,53.17,44.55,21.85,5.36,9.44,32.81,26.23,23.33,12.36,5.90,3.24,326.87
85102,202012,43130,41570,11.37,29.05,7.84,17.33,21.98,10.14,0.50,2.97,14.63,2.35,2.32,5.91,4.13,3.68,134.20
85103,202012,43130,41590,21.74,40.94,36.96,76.66,79.58,30.43,11.63,10.64,38.14,21.15,18.95,19.91,19.36,7.92,434.01

In [ ]:
# 도착지코드와 출발지코드 모두에서 '41110'을 '수원시'로 변경
move['도착지코드'] = move['도착지코드'].replace(41110, '수원시')
move['출발지코드'] = move['출발지코드'].replace(41110, '수원시')

In [39]:
move['도착지코드'].unique()

array([41610, 41630, 41650, 41670, 41800, 41820, 41830, 41110, 41130,
       41150, 41170, 41190, 41210, 41220, 41250, 41270, 41280, 41290,
       41310, 41360, 41370, 41390, 41550, 41570, 41590, 41410, 41430,
       41450, 41460, 41480, 41500], dtype=int64)

In [40]:
a = [41610, 41630, 41650, 41670, 41800, 41820, 41830, 41110, 41130,
       41150, 41170, 41190, 41210, 41220, 41250, 41270, 41280, 41290,
       41310, 41360, 41370, 41390, 41550, 41570, 41590, 41410, 41430,
       41450, 41460, 41480, 41500]
b = ['광주시','양주시','포천시','여주시','연천군','가평군','양평군','수원시','성남시','의정부시','안양시','부천시','광명시',
'평택시','동두천시','안산시','고양시','과천시','구리시','남양주시','오산시','시흥시','안성시','김포시','화성시','군포시','의왕시',
'하남시','용인시','파주시','이천시']

In [46]:
print(len(a))
print(len(b))

31
31

In [48]:
for code, name in zip(a, b):
    move['도착지코드'] = move['도착지코드'].replace(code, name)
    move['출발지코드'] = move['출발지코드'].replace(code, name)
    print(f"'{code}'코드 '{name}'로 변경완료")

'41610'코드 '광주시'로 변경완료
'41630'코드 '양주시'로 변경완료
'41650'코드 '포천시'로 변경완료
'41670'코드 '여주시'로 변경완료
'41800'코드 '연천군'로 변경완료
'41820'코드 '가평군'로 변경완료
'41830'코드 '양평군'로 변경완료
'41110'코드 '수원시'로 변경완료
'41130'코드 '성남시'로 변경완료
'41150'코드 '의정부시'로 변경완료
'41170'코드 '안양시'로 변경완료
'41190'코드 '부천시'로 변경완료
'41210'코드 '광명시'로 변경완료
'41220'코드 '평택시'로 변경완료
'41250'코드 '동두천시'로 변경완료
'41270'코드 '안산시'로 변경완료
'41280'코드 '고양시'로 변경완료
'41290'코드 '과천시'로 변경완료
'41310'코드 '구리시'로 변경완료
'41360'코드 '남양주시'로 변경완료
'41370'코드 '오산시'로 변경완료
'41390'코드 '시흥시'로 변경완료
'41550'코드 '안성시'로 변경완료
'41570'코드 '김포시'로 변경완료
'41590'코드 '화성시'로 변경완료
'41410'코드 '군포시'로 변경완료
'41430'코드 '의왕시'로 변경완료
'41450'코드 '하남시'로 변경완료
'41460'코드 '용인시'로 변경완료
'41480'코드 '파주시'로 변경완료
'41500'코드 '이천시'로 변경완료

In [49]:
move

,년월,출발지코드,도착지코드,10대남성 유입인구,20대남성 유입인구,30대남성 유입인구,40대남성 유입인구,50대남성 유입인구,60대남성 유입인구,70대남성 유입인구,10대여성 유입인구,20대여성 유입인구,30대여성 유입인구,40대여성 유입인구,50대여성 유입인구,60대여성 유입인구,70대여성 유입인구,종합 유입인구
0,202003,50110,광주시,5.32,2.23,14.09,12.58,13.03,5.11,4.00,1.54,5.95,5.69,8.06,4.80,2.04,6.32,90.76
1,202003,50110,양주시,1.22,2.75,4.91,4.16,4.50,2.51,0.29,0.85,0.44,2.14,2.88,2.84,1.49,1.13,32.11
2,202003,50110,포천시,0.44,5.62,2.76,4.19,3.93,2.24,1.29,1.14,2.79,2.61,1.41,2.07,1.28,1.51,33.28
3,202003,50110,여주시,0.14,0.80,2.56,5.25,6.39,2.38,0.76,1.15,2.08,2.38,2.97,1.12,2.57,0.30,30.85
4,202003,50110,연천군,0.11,1.04,0.64,1.06,0.59,0.19,0.00,0.10,0.57,0.56,0.06,0.00,0.58,0.83,6.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85099,202012,43130,파주시,2.58,23.99,9.56,13.18,9.89,4.22,1.66,0.36,24.21,4.28,6.29,3.58,2.33,1.95,108.08
85100,202012,43130,이천시,20.42,56.43,70.36,95.04,103.09,46.47,11.65,39.20,37.42,31.18,38.50,47.00,23.74,15.55,636.05
85101,202012,43130,안성시,26.22,33.69,28.72,53.17,44.55,21.85,5.36,9.44,32.81,26.23,23.33,12.36,5.90,3.24,326.87
85102,202012,43130,김포시,11.37,29.05,7.84,17.33,21.98,10.14,0.50,2.97,14.63,2.35,2.32,5.91,4.13,3.68,134.20
85103,202012,43130,화성시,21.74,40.94,36.96,76.66,79.58,30.43,11.63,10.64,38.14,21.15,18.95,19.91,19.36,7.92,434.01

In [50]:
move.to_csv('../../data/경기도/원본/유동인구/전처리 후/시군별유동인구코드변경.csv')

In [54]:
total_move = move[['년월','출발지코드','도착지코드','종합 유입인구']]
total_move

           년월  출발지코드 도착지코드  종합 유입인구
0      202003  50110   광주시    90.76
1      202003  50110   양주시    32.11
2      202003  50110   포천시    33.28
3      202003  50110   여주시    30.85
4      202003  50110   연천군     6.33
...       ...    ...   ...      ...
85099  202012  43130   파주시   108.08
85100  202012  43130   이천시   636.05
85101  202012  43130   안성시   326.87
85102  202012  43130   김포시   134.20
85103  202012  43130   화성시   434.01

[85104 rows x 4 columns]

In [56]:
# 제대로 바뀌었는 지 확인
total_move['도착지코드'].unique()

array(['광주시', '양주시', '포천시', '여주시', '연천군', '가평군', '양평군', '수원시', '성남시',
       '의정부시', '안양시', '부천시', '광명시', '평택시', '동두천시', '안산시', '고양시', '과천시',
       '구리시', '남양주시', '오산시', '시흥시', '안성시', '김포시', '화성시', '군포시', '의왕시',
       '하남시', '용인시', '파주시', '이천시'], dtype=object)

In [55]:
total_move.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85104 entries, 0 to 85103
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년월       85104 non-null  int64
 1   출발지코드    85104 non-null  object
 2   도착지코드    85104 non-null  object
 3   종합 유입인구  85104 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.6+ MB

In [62]:
# savepoint
total_move2 = total_move

In [63]:
# 출발지코드가 숫자인 경우 '경기도외'로 변경
total_move2['출발지코드'] = total_move2['출발지코드'].apply(lambda x: '경기도외' if isinstance(x, int) else x)

total_move2

C:\Users\Jws\AppData\Local\Temp\ipykernel_788\939286996.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_move2['출발지코드'] = total_move2['출발지코드'].apply(lambda x: '경기도외' if isinstance(x, int) else x)

           년월 출발지코드 도착지코드  종합 유입인구
0      202003  경기도외   광주시    90.76
1      202003  경기도외   양주시    32.11
2      202003  경기도외   포천시    33.28
3      202003  경기도외   여주시    30.85
4      202003  경기도외   연천군     6.33
...       ...   ...   ...      ...
85099  202012  경기도외   파주시   108.08
85100  202012  경기도외   이천시   636.05
85101  202012  경기도외   안성시   326.87
85102  202012  경기도외   김포시   134.20
85103  202012  경기도외   화성시   434.01

[85104 rows x 4 columns]

In [65]:
total_move2[total_move2['도착지코드'] == '광주시']

           년월 출발지코드 도착지코드  종합 유입인구
0      202003  경기도외   광주시    90.76
25     202003  경기도외   광주시    12.11
56     202003  경기도외   광주시    80.34
70     202003  경기도외   광주시    32.56
101    202003  경기도외   광주시    16.85
...       ...   ...   ...      ...
84960  202012  경기도외   광주시    29.26
84983  202012  동두천시   광주시    93.40
84996  202012  경기도외   광주시    25.05
85027  202012  경기도외   광주시    27.05
85066  202012   김포시   광주시   324.69

[2748 rows x 4 columns]

In [66]:
total_move2.to_csv('../../data/경기도/원본/유동인구/전처리 후/종합 유입인구.csv',index=False)

In [67]:
# 도착지코드, 출발지코드, 년월 기준으로 그룹화하여 종합 유입인구 합계 계산
total_move3 = total_move2.groupby(['년월', '출발지코드', '도착지코드']).sum().reset_index()
total_move3

           년월 출발지코드 도착지코드    종합 유입인구
0      202001   가평군   가평군   56572.19
1      202001   가평군   고양시     233.27
2      202001   가평군   과천시      16.24
3      202001   가평군   광명시      40.16
4      202001   가평군   광주시     100.81
...       ...   ...   ...        ...
11899  202012   화성시   파주시     639.93
11900  202012   화성시   평택시   13773.24
11901  202012   화성시   포천시     341.28
11902  202012   화성시   하남시     702.35
11903  202012   화성시   화성시  655494.44

[11904 rows x 4 columns]

In [68]:
total_move3[total_move3['출발지코드'] == '경기도외']

           년월 출발지코드 도착지코드    종합 유입인구
31     202001  경기도외   가평군   23986.63
32     202001  경기도외   고양시  175189.68
33     202001  경기도외   과천시   23224.41
34     202001  경기도외   광명시   75034.50
35     202001  경기도외   광주시   42391.49
...       ...   ...   ...        ...
10969  202012  경기도외   파주시   50105.87
10970  202012  경기도외   평택시   47213.70
10971  202012  경기도외   포천시   26741.21
10972  202012  경기도외   하남시   68760.50
10973  202012  경기도외   화성시   72318.17

[372 rows x 4 columns]

In [69]:
# 출발지코드와 도착지코드 기준으로 그룹화하여 종합 유입인구의 평균 계산
# 32 * 31 로 992개의 행
total_move4 = total_move3.groupby(['출발지코드', '도착지코드'])['종합 유입인구'].mean().reset_index()
total_move4

    출발지코드 도착지코드        종합 유입인구
0     가평군   가평군   57201.137500
1     가평군   고양시     211.448333
2     가평군   과천시      15.983333
3     가평군   광명시      34.633333
4     가평군   광주시     100.250833
..    ...   ...            ...
987   화성시   파주시     775.716667
988   화성시   평택시   13643.793333
989   화성시   포천시     453.536667
990   화성시   하남시     776.471667
991   화성시   화성시  646912.305000

[992 rows x 3 columns]

In [70]:
total_move4.to_csv('../../data/경기도/원본/유동인구/전처리 후/달평균유입인구.csv',index=False)

In [78]:
total_move4['종합 유입인구'] = total_move4['종합 유입인구'].astype(int)

In [79]:
outer = total_move4[total_move4['출발지코드'] == '경기도외']
outer.sort_values('종합 유입인구', ascending= 0)

   출발지코드 도착지코드  종합 유입인구
41  경기도외   부천시   159693
32  경기도외   고양시   157401
42  경기도외   성남시   130396
38  경기도외   김포시   104262
39  경기도외  남양주시    94131
53  경기도외   용인시    91125
43  경기도외   수원시    79021
61  경기도외   화성시    78835
60  경기도외   하남시    75689
44  경기도외   시흥시    74648
34  경기도외   광명시    67600
47  경기도외   안양시    61144
57  경기도외   파주시    59632
45  경기도외   안산시    57413
55  경기도외  의정부시    51493
58  경기도외   평택시    50203
35  경기도외   광주시    39951
56  경기도외   이천시    36605
59  경기도외   포천시    35719
36  경기도외   구리시    33919
31  경기도외   가평군    31846
48  경기도외   양주시    31136
49  경기도외   양평군    30617
46  경기도외   안성시    25686
50  경기도외   여주시    24595
37  경기도외   군포시    20235
33  경기도외   과천시    19921
54  경기도외   의왕시    15424
52  경기도외   오산시    12062
51  경기도외   연천군     7051
40  경기도외  동두천시     6722

In [81]:
total_move4[total_move4['출발지코드'] == total_move4['도착지코드']].sort_values('종합 유입인구', ascending= 0)

    출발지코드 도착지코드  종합 유입인구
415   수원시   수원시  1171913
63    고양시   고양시   976991
383   성남시   성남시   961574
735   용인시   용인시   942202
351   부천시   부천시   822419
479   안산시   안산시   726745
991   화성시   화성시   646912
287  남양주시  남양주시   620733
543   안양시   안양시   572743
895   평택시   평택시   441737
447   시흥시   시흥시   419388
799  의정부시  의정부시   411382
863   파주시   파주시   405712
255   김포시   김포시   344371
127   광명시   광명시   328445
159   광주시   광주시   299663
223   군포시   군포시   277689
703   오산시   오산시   205792
575   양주시   양주시   205475
831   이천시   이천시   202666
959   하남시   하남시   199667
511   안성시   안성시   186473
191   구리시   구리시   183372
927   포천시   포천시   159188
767   의왕시   의왕시   149326
639   여주시   여주시   105304
607   양평군   양평군    97388
319  동두천시  동두천시    94414
95    과천시   과천시    62475
0     가평군   가평군    57201
671   연천군   연천군    45636