In [1]:
import pandas as pd

In [11]:
## 경기도 주민등록인구 집계현황 (08년 ~ 24년)
popul = pd.read_csv('../data/경기도/원본/주민등록인구집계현황.csv', encoding='cp949')

In [24]:
# 2023년 필터
popul_2023 = popul.loc[popul['연도'] == 2023].loc[popul['행정구역구분명'] == '시군']

# '기준년월' 컬럼 생성
popul_2023['기준년월'] = popul_2023['연도'].astype(str) + popul_2023['월'].astype(str)

# '기준년월' 형식을 'yyyy-mm'으로 변환
popul_2023['기준년월'] = popul_2023['기준년월'].astype(str).apply(lambda x: x[:4] + '-' + ('0' + x[4:] if len(x) == 5 else x[4:]))

# '행정구역명' 형식 변경
popul_2023['행정구역명'] = popul_2023['행정구역명'].map(lambda x: x.strip('경기도'))
popul_2023['행정구역명'] = popul_2023['행정구역명'].map(lambda x: x.strip())


popul_2023 = popul_2023[['기준년월','행정구역명','총 인구수']].reset_index(drop=True)

# 컬럼명 변경
popul_2023.columns = ['기준년월','시군명','총인구수']
popul_2023

        기준년월  시군명     총인구수
0    2023-12  가평군    62302
1    2023-12  고양시  1074907
2    2023-12  과천시    81000
3    2023-12  광명시   280197
4    2023-12  광주시   391377
..       ...  ...      ...
367  2023-01  파주시   495480
368  2023-01  평택시   580011
369  2023-01  포천시   146374
370  2023-01  하남시   326496
371  2023-01  화성시   914500

[372 rows x 3 columns]

In [26]:
popul_2023 = popul_2023[['시군명','총인구수']].groupby('시군명').mean()

In [27]:
popul_2023['총인구수'] = popul_2023['총인구수'].astype(int)
popul_2023

         총인구수
시군명
가평군     61977
고양시   1076950
과천시     80025
광명시    282510
광주시    391398
구리시    188106
군포시    200571
김포시    485451
남양주시   734145
동두천시    89725
부천시    785650
성남시    920852
수원시   1193916
시흥시    517789
안산시    635295
안성시    189052
안양시    545766
양주시    258063
양평군    123609
여주시    113837
연천군     41746
오산시    229459
용인시   1075690
의왕시    124370
의정부시   463835
이천시    222830
파주시    496860
평택시    586126
포천시    144595
하남시    255272
화성시    930764

In [34]:
grdp = pd.read_excel('../data/경기도/원본/등급기준/경기도grdp.xlsx')

In [37]:
grdp = grdp.rename(columns={'Unnamed: 0':'시군명'})

In [39]:
grdp

     시군명  2017년  2018년  2019년  2020년  2021년
0    수원시   2854   2971   3080   2796   3031
1    성남시   4271   4455   4704   5030   5432
2    의정부   1598   1678   1686   1625   1614
3    안양시   2941   3144   3345   3221   3388
4    부천시   2013   2082   2119   2191   2227
5    광명시   2274   2485   2435   2615   2754
6    평택시   6573   7010   6433   6091   6424
7   동두천시   1973   1870   1946   1922   1939
8    안산시   3898   3941   3969   3799   3964
9    고양시   1953   2086   2077   2048   2114
10   과천시   7871   8409   8340   7243   6885
11   구리시   1793   1864   1805   1758   1871
12  남양주시   1541   1641   1678   1805   1822
13   오산시   2578   2622   2578   2463   2636
14   시흥시   3912   3766   3540   3465   3537
15   군포시   2583   2703   2747   2659   2721
16   의왕시   2250   2490   2577   2465   2542
17   하남시   2547   2687   2646   2671   2651
18   용인시   3373   3014   2901   3145   3302
19   파주시   4871   4753   4587   4603   5080
20   이천시   8594  11577  10090  11490  12993
21   안성시   4901   5151   5165   5309   5471
22   김포시   3269   3281   3266   3172   3235
23   화성시  10266  10766   9506   9839  10484
24   광주시   2808   2739   2670   2689   2829
25   양주시   3024   3109   3103   3048   3294
26   포천시   4370   4465   4645   4927   5102
27   여주시   3205   3497   3731   3867   4186
28   연천군   2908   3432   3974   4101   4404
29   가평군   2741   2944   2929   2977   3215
30   양평군   1638   1721   1758   1797   2079

In [41]:
grdp_2021 = grdp[['시군명','2021년']]

In [49]:
total_df = pd.merge(popul_2023, grdp_2021, how='left', on='시군명')
total_df

     시군명     총인구수    2021년
0    가평군    61977   3215.0
1    고양시  1076950   2114.0
2    과천시    80025   6885.0
3    광명시   282510   2754.0
4    광주시   391398   2829.0
5    구리시   188106   1871.0
6    군포시   200571   2721.0
7    김포시   485451   3235.0
8   남양주시   734145   1822.0
9   동두천시    89725   1939.0
10   부천시   785650   2227.0
11   성남시   920852   5432.0
12   수원시  1193916   3031.0
13   시흥시   517789   3537.0
14   안산시   635295   3964.0
15   안성시   189052   5471.0
16   안양시   545766   3388.0
17   양주시   258063   3294.0
18   양평군   123609   2079.0
19   여주시   113837   4186.0
20   연천군    41746   4404.0
21   오산시   229459   2636.0
22   용인시  1075690   3302.0
23   의왕시   124370   2542.0
24  의정부시   463835      NaN
25   이천시   222830  12993.0
26   파주시   496860   5080.0
27   평택시   586126   6424.0
28   포천시   144595   5102.0
29   하남시   255272   2651.0
30   화성시   930764  10484.0

In [51]:
# 의정부시 데이터 입력
total_df = total_df.fillna(1614)

In [53]:
df_clean = pd.read_csv('./data/회귀모델 df_clean.csv')

In [56]:
df_clean = df_clean[['시군명','월별사용액']].groupby('시군명').mean()

In [60]:
df_clean

             월별사용액
시군명
가평군    3007.666667
고양시   11730.600000
과천시    3395.416667
광명시   12337.916667
광주시   15114.818182
구리시    7873.090909
군포시   10146.666667
김포시   14046.375000
남양주시  20827.000000
동두천시   1954.250000
부천시   22132.833333
성남시   27528.545455
수원시   26853.666667
시흥시   22261.750000
안산시   15036.250000
안성시    7084.909091
양주시    6154.181818
양평군    5978.000000
여주시    4065.750000
연천군    1960.818182
오산시    5287.727273
용인시   27877.500000
의왕시    3062.181818
의정부시   7178.666667
이천시   10805.916667
파주시   17651.333333
평택시   16837.454545
포천시    2481.636364
하남시   12180.500000
화성시   35763.545455

In [65]:
total_df = pd.merge(total_df, df_clean, how = 'left' , on='시군명')
total_df

     시군명     총인구수    2021년         월별사용액
0    가평군    61977   3215.0   3007.666667
1    고양시  1076950   2114.0  11730.600000
2    과천시    80025   6885.0   3395.416667
3    광명시   282510   2754.0  12337.916667
4    광주시   391398   2829.0  15114.818182
5    구리시   188106   1871.0   7873.090909
6    군포시   200571   2721.0  10146.666667
7    김포시   485451   3235.0  14046.375000
8   남양주시   734145   1822.0  20827.000000
9   동두천시    89725   1939.0   1954.250000
10   부천시   785650   2227.0  22132.833333
11   성남시   920852   5432.0  27528.545455
12   수원시  1193916   3031.0  26853.666667
13   시흥시   517789   3537.0  22261.750000
14   안산시   635295   3964.0  15036.250000
15   안성시   189052   5471.0   7084.909091
16   안양시   545766   3388.0           NaN
17   양주시   258063   3294.0   6154.181818
18   양평군   123609   2079.0   5978.000000
19   여주시   113837   4186.0   4065.750000
20   연천군    41746   4404.0   1960.818182
21   오산시   229459   2636.0   5287.727273
22   용인시  1075690   3302.0  27877.500000
23   의왕시   124370   2542.0   3062.181818
24  의정부시   463835   1614.0   7178.666667
25   이천시   222830  12993.0  10805.916667
26   파주시   496860   5080.0  17651.333333
27   평택시   586126   6424.0  16837.454545
28   포천시   144595   5102.0   2481.636364
29   하남시   255272   2651.0  12180.500000
30   화성시   930764  10484.0  35763.545455

In [68]:
total_df['위험지수'] = None
total_df

     시군명     총인구수    2021년         월별사용액  위험지수
0    가평군    61977   3215.0   3007.666667  None
1    고양시  1076950   2114.0  11730.600000  None
2    과천시    80025   6885.0   3395.416667  None
3    광명시   282510   2754.0  12337.916667  None
4    광주시   391398   2829.0  15114.818182  None
5    구리시   188106   1871.0   7873.090909  None
6    군포시   200571   2721.0  10146.666667  None
7    김포시   485451   3235.0  14046.375000  None
8   남양주시   734145   1822.0  20827.000000  None
9   동두천시    89725   1939.0   1954.250000  None
10   부천시   785650   2227.0  22132.833333  None
11   성남시   920852   5432.0  27528.545455  None
12   수원시  1193916   3031.0  26853.666667  None
13   시흥시   517789   3537.0  22261.750000  None
14   안산시   635295   3964.0  15036.250000  None
15   안성시   189052   5471.0   7084.909091  None
16   안양시   545766   3388.0           NaN  None
17   양주시   258063   3294.0   6154.181818  None
18   양평군   123609   2079.0   5978.000000  None
19   여주시   113837   4186.0   4065.750000  None
20   연천군    41746   4404.0   1960.818182  None
21   오산시   229459   2636.0   5287.727273  None
22   용인시  1075690   3302.0  27877.500000  None
23   의왕시   124370   2542.0   3062.181818  None
24  의정부시   463835   1614.0   7178.666667  None
25   이천시   222830  12993.0  10805.916667  None
26   파주시   496860   5080.0  17651.333333  None
27   평택시   586126   6424.0  16837.454545  None
28   포천시   144595   5102.0   2481.636364  None
29   하남시   255272   2651.0  12180.500000  None
30   화성시   930764  10484.0  35763.545455  None

In [105]:
total_df.iloc[30,4] = 1.44

In [109]:
total_df['총인구수'] = total_df['총인구수'].astype(int)
total_df['2021년'] = total_df['2021년'].astype(int)
total_df['월별사용액'] = total_df['월별사용액'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [110]:
total_df['총인구수'] = total_df['총인구수'].astype(int)

In [111]:
total_df['2021년'] = total_df['2021년'].astype(int)

In [115]:
total_df['월별사용액'] = total_df['월별사용액'].astype(int)

C:\Users\Jws\AppData\Local\Temp\ipykernel_22560\1856988520.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_df['월별사용액'] = total_df['월별사용액'].astype(int)

In [114]:
total_df =  total_df.dropna()
total_df.reset_index(drop=True,inplace=True)

In [117]:
total_df.columns = ['시군명','총인구수','1인당grdp','지역화폐사용액','인구소멸']
total_df

     시군명     총인구수  1인당grdp  지역화폐사용액  인구소멸
0    가평군    61977     3215     3007  0.29
1    고양시  1076950     2114    11730  0.91
2    과천시    80025     6885     3395  0.99
3    광명시   282510     2754    12337  0.84
4    광주시   391398     2829    15114  0.84
5    구리시   188106     1871     7873  0.87
6    군포시   200571     2721    10146   0.9
7    김포시   485451     3235    14046  0.98
8   남양주시   734145     1822    20827  0.78
9   동두천시    89725     1939     1954  0.48
10   부천시   785650     2227    22132  0.89
11   성남시   920852     5432    27528   0.9
12   수원시  1193916     3031    26853  1.21
13   시흥시   517789     3537    22261  1.28
14   안산시   635295     3964    15036  1.12
15   안성시   189052     5471     7084  0.58
16   양주시   258063     3294     6154  0.65
17   양평군   123609     2079     5978   0.3
18   여주시   113837     4186     4065   0.4
19   연천군    41746     4404     1960  0.29
20   오산시   229459     2636     5287  1.28
21   용인시  1075690     3302    27877  0.89
22   의왕시   124370     2542     3062   0.9
23  의정부시   463835     1614     7178  0.81
24   이천시   222830    12993    10805  0.81
25   파주시   496860     5080    17651  0.85
26   평택시   586126     6424    16837  1.03
27   포천시   144595     5102     2481  0.44
28   하남시   255272     2651    12180  1.07
29   화성시   930764    10484    35763  1.44

In [118]:
total_df.to_csv('./data/종합점수 total_score.csv',index=False)

In [120]:
from sklearn.preprocessing import MinMaxScaler

# MinMaxScaler를 사용하여 데이터의 범위를 0과 1 사이로 조정
scaler = MinMaxScaler()
scaled_values = scaler.fit_transform(total_df[['총인구수', '1인당grdp', '지역화폐사용액', '인구소멸']])

# 정규화된 데이터를 데이터프레임에 다시 할당
df_scaled = pd.DataFrame(scaled_values, columns=['총인구수_scaled', '1인당grdp_scaled', '지역화폐사용액_scaled', '인구소멸_scaled'])

# 종합점수 계산 (가중치 적용)
total_df['종합점수'] = (
    df_scaled['총인구수_scaled'] * 0.2 +
    df_scaled['1인당grdp_scaled'] * 0.2 +
    df_scaled['지역화폐사용액_scaled'] * 0.2 +
    df_scaled['인구소멸_scaled'] * 0.4
)

# 종합점수를 기준으로 5단계로 구분 (qcut 사용)
total_df['등급'] = pd.qcut(total_df['종합점수'], 5, labels=[5, 4, 3, 2, 1])

# 결과 확인
total_df[['시군명', '총인구수', '1인당grdp', '지역화폐사용액', '인구소멸', '종합점수', '등급']].head()

C:\Users\Jws\AppData\Local\Temp\ipykernel_22560\2459463530.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_df['종합점수'] = (
C:\Users\Jws\AppData\Local\Temp\ipykernel_22560\2459463530.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_df['등급'] = pd.qcut(total_df['종합점수'], 5, labels=[5, 4, 3, 2, 1])

   시군명     총인구수  1인당grdp  지역화폐사용액  인구소멸      종합점수 등급
0  가평군    61977     3215     3007  0.29  0.037880  5
1  고양시  1076950     2114    11730  0.91  0.461967  2
2  과천시    80025     6885     3395  0.99  0.351292  3
3  광명시   282510     2754    12337  0.84  0.314556  3
4  광주시   391398     2829    15114  0.84  0.351203  3

In [130]:
total_df[total_df['등급'] == 2]

    시군명     총인구수  1인당grdp  지역화폐사용액  인구소멸      종합점수 등급
1   고양시  1076950     2114    11730  0.91  0.461967  2
7   김포시   485451     3235    14046  0.98  0.417043  2
10  부천시   785650     2227    22132  0.89  0.467965  2
14  안산시   635295     3964    15036  1.12  0.510419  2
24  이천시   222830    12993    10805  0.81  0.464662  2
25  파주시   496860     5080    17651  0.85  0.427560  2

In [129]:
total_df.to_csv('./data/종합점수 total_score.csv',index=False)

In [131]:
test = pd.read_csv('./data/회귀모델 df_clean.csv')
test

,기준년월,시군명,총인구수,신규가입자수,월별충전액,월별사용액,인센티브,월지급한도,가맹점수,인당충전액
0,2023-01,가평군,62114,717.0,3140,3540,0.1,50000,3354,50552.210452
1,2023-02,가평군,62069,769.0,3032,3092,0.1,50000,3354,48848.861751
2,2023-03,가평군,61969,3130.0,4284,3609,0.1,500000,3354,69131.339863
3,2023-04,가평군,61915,855.0,3668,4057,0.1,500000,3354,59242.509893
4,2023-05,가평군,61836,871.0,5064,3785,0.1,500000,3354,81894.042305
...,...,...,...,...,...,...,...,...,...,...
335,2023-07,화성시,932626,8026.0,36869,36480,0.1,30000,27663,39532.459957
336,2023-08,화성시,934287,7804.0,34116,35008,0.1,30000,27663,36515.546080
337,2023-09,화성시,937189,7792.0,40559,36188,0.1,30000,27663,43277.289853
338,2023-10,화성시,939302,7667.0,37117,38199,0.1,30000,27663,39515.512583
339,2023-11,화성시,941489,6808.0,34953,32898,0.1,30000,27663,37125.234602