In [1]:
import pandas as pd 
import os

In [2]:
life_popul = pd.read_csv('../../data/경기도/원본/생활인구/경기도 가평군 생활인구 수_21년 12월.csv')

In [3]:
life_popul

,"﻿""INDEX_KEY""",CRTR_YMD,CRTR_WEEK,DWK_NM,CTPV_CD,CTPV_NM,SGG_CD,SGG_NM,TMZN_CD,SEX_DV,AGRDE_CLS,REVISN_LIVE_PUL_CNT
0,LI122200010009LI12220001000925941,20211211,49,토,41,경기도,4182,가평군,9,MALE,4,4205.350192
1,LI122200010009LI12220001000925942,20211219,50,일,41,경기도,4182,가평군,21,FEMALE,10,2462.758279
2,LI122200010009LI12220001000925943,20211217,50,금,41,경기도,4182,가평군,12,FEMALE,5,1346.965038
3,LI122200010009LI12220001000925944,20211225,51,토,41,경기도,4182,가평군,6,FEMALE,1,1102.000117
4,LI122200010009LI12220001000925945,20211224,51,금,41,경기도,4182,가평군,16,MALE,8,3091.180932
...,...,...,...,...,...,...,...,...,...,...,...,...
20826,LI122200010009LI122200010009259420827,20211209,49,목,41,경기도,4182,가평군,6,MALE,1,439.310906
20827,LI122200010009LI122200010009259420828,20211212,49,일,41,경기도,4182,가평군,12,FEMALE,6,3253.987167
20828,LI122200010009LI122200010009259420829,20211204,48,토,41,경기도,4182,가평군,8,MALE,12,4124.119069
20829,LI122200010009LI122200010009259420830,20211203,48,금,41,경기도,4182,가평군,6,MALE,7,1798.632393
20830,LI122200010009LI122200010009259420831,20211218,50,토,41,경기도,4182,가평군,13,MALE,2,2059.491024

In [4]:
## 31개 시군 csv 하나로 합치기

# 파일 경로 지정
directory_path = '../../data/경기도/원본/생활인구/'

# 모든 CSV 파일 목록 생성
all_files = [os.path.join(directory_path, f) for f in os.listdir(directory_path) if f.endswith('.CSV')]

# 각 파일을 데이터프레임으로 읽어오고 하나의 리스트에 저장
dataframes = [pd.read_csv(file) for file in all_files]

# 모든 데이터프레임을 하나로 합치기
combined_csv = pd.concat(dataframes, ignore_index=True)

In [5]:
combined_csv

,"﻿""INDEX_KEY""",CRTR_YMD,CRTR_WEEK,DWK_NM,CTPV_CD,CTPV_NM,SGG_CD,SGG_NM,TMZN_CD,SEX_DV,AGRDE_CLS,REVISN_LIVE_PUL_CNT
0,LI122200010009LI12220001000925941,20211211,49,토,41,경기도,4182,가평군,9,MALE,4,4205.350192
1,LI122200010009LI12220001000925942,20211219,50,일,41,경기도,4182,가평군,21,FEMALE,10,2462.758279
2,LI122200010009LI12220001000925943,20211217,50,금,41,경기도,4182,가평군,12,FEMALE,5,1346.965038
3,LI122200010009LI12220001000925944,20211225,51,토,41,경기도,4182,가평군,6,FEMALE,1,1102.000117
4,LI122200010009LI12220001000925945,20211224,51,금,41,경기도,4182,가평군,16,MALE,8,3091.180932
...,...,...,...,...,...,...,...,...,...,...,...,...
645782,LI122200010009LI122200010009262420828,20211209,49,목,41,경기도,4159,화성시,0,FEMALE,11,25126.109810
645783,LI122200010009LI122200010009262420829,20211230,52,목,41,경기도,4159,화성시,22,FEMALE,14,30501.493710
645784,LI122200010009LI122200010009262420830,20211206,49,월,41,경기도,4159,화성시,9,MALE,11,38676.031750
645785,LI122200010009LI122200010009262420831,20211201,48,수,41,경기도,4159,화성시,23,FEMALE,6,33015.606500
645786,LI122200010009LI122200010009262420832,20211219,50,일,41,경기도,4159,화성시,2,FEMALE,11,25287.771810

In [6]:
combined_csv.to_csv('../../data/경기도/원본/생활인구/전처리/31시군총합.csv',index=False)

In [7]:
totallife_popul = combined_csv[['CRTR_YMD','DWK_NM','SGG_NM','TMZN_CD','REVISN_LIVE_PUL_CNT']]
totallife_popul

        CRTR_YMD DWK_NM SGG_NM  TMZN_CD  REVISN_LIVE_PUL_CNT
0       20211211      토    가평군        9          4205.350192
1       20211219      일    가평군       21          2462.758279
2       20211217      금    가평군       12          1346.965038
3       20211225      토    가평군        6          1102.000117
4       20211224      금    가평군       16          3091.180932
...          ...    ...    ...      ...                  ...
645782  20211209      목    화성시        0         25126.109810
645783  20211230      목    화성시       22         30501.493710
645784  20211206      월    화성시        9         38676.031750
645785  20211201      수    화성시       23         33015.606500
645786  20211219      일    화성시        2         25287.771810

[645787 rows x 5 columns]

In [8]:
totallife_popul.columns = ['날짜','요일','시군명','시간대','인구수']
totallife_popul

              날짜 요일  시군명  시간대           인구수
0       20211211  토  가평군    9   4205.350192
1       20211219  일  가평군   21   2462.758279
2       20211217  금  가평군   12   1346.965038
3       20211225  토  가평군    6   1102.000117
4       20211224  금  가평군   16   3091.180932
...          ... ..  ...  ...           ...
645782  20211209  목  화성시    0  25126.109810
645783  20211230  목  화성시   22  30501.493710
645784  20211206  월  화성시    9  38676.031750
645785  20211201  수  화성시   23  33015.606500
645786  20211219  일  화성시    2  25287.771810

[645787 rows x 5 columns]

In [10]:
## '날짜', '요일', '시군명', '시간대'를 기준으로 그룹화하여 '인구수' 합계 계산
totallife_popul = totallife_popul.groupby(['날짜', '요일', '시군명', '시간대']).agg({'인구수': 'sum'}).reset_index()
totallife_popul

             날짜 요일  시군명  시간대            인구수
0      20211201  수  가평군    0   62015.888111
1      20211201  수  가평군    1   62000.174606
2      20211201  수  가평군    2   62199.118585
3      20211201  수  가평군    3   62535.568211
4      20211201  수  가평군    4   62623.389955
...         ... ..  ...  ...            ...
23059  20211231  금  화성시   19  872115.566366
23060  20211231  금  화성시   20  863595.859019
23061  20211231  금  화성시   21  859296.678008
23062  20211231  금  화성시   22  859428.377135
23063  20211231  금  화성시   23  857533.897129

[23064 rows x 5 columns]

In [12]:
totallife_popul.to_csv('../../data/경기도/원본/생활인구/전처리/total.csv',index=False)

In [11]:
## 대략적인 인구수 추이 확인
totallife_popul.loc[(totallife_popul['날짜'] == 20211204) & (totallife_popul['시군명'] == '가평군')]

# 평일 주말 구분을 두려하였으나, 상관없이 소비가 제일 많을 것으로 예상되는 시간인 11,12,13,18,19,20,21 시간대를 사용하기로 결정
#

            날짜 요일  시군명  시간대           인구수
2232  20211204  토  가평군    0  72436.441601
2233  20211204  토  가평군    1  69984.096540
2234  20211204  토  가평군    2  69255.861133
2235  20211204  토  가평군    3  68703.444227
2236  20211204  토  가평군    4  68765.451590
2237  20211204  토  가평군    5  68606.507972
2238  20211204  토  가평군    6  69412.942243
2239  20211204  토  가평군    7  71632.251480
2240  20211204  토  가평군    8  76065.952417
2241  20211204  토  가평군    9  77458.508781
2242  20211204  토  가평군   10  78597.297804
2243  20211204  토  가평군   11  78957.365682
2244  20211204  토  가평군   12  79797.223706
2245  20211204  토  가평군   13  82106.598507
2246  20211204  토  가평군   14  85352.724622
2247  20211204  토  가평군   15  90076.100503
2248  20211204  토  가평군   16  92378.161333
2249  20211204  토  가평군   17  92431.418205
2250  20211204  토  가평군   18  92855.072668
2251  20211204  토  가평군   19  92895.377531
2252  20211204  토  가평군   20  93201.175379
2253  20211204  토  가평군   21  91521.651636
2254  20211204  토  가평군   22  91471.061326
2255  20211204  토  가평군   23  94710.577103

In [16]:
## 시간대 필터
popul1 = totallife_popul[totallife_popul['시간대'].isin((11,12,13,18,19,20,21))]
popul1

             날짜 요일  시군명  시간대            인구수
11     20211201  수  가평군   11   68040.938494
12     20211201  수  가평군   12   68401.986230
13     20211201  수  가평군   13   68567.975502
18     20211201  수  가평군   18   66267.187480
19     20211201  수  가평군   19   65692.461027
...         ... ..  ...  ...            ...
23053  20211231  금  화성시   13  918523.210647
23058  20211231  금  화성시   18  881255.382498
23059  20211231  금  화성시   19  872115.566366
23060  20211231  금  화성시   20  863595.859019
23061  20211231  금  화성시   21  859296.678008

[6727 rows x 5 columns]

In [21]:
# 원본 데이터에서 '시군명'별로 그룹화하고, 하루 인구수 평균 계산
popul2 = popul1.groupby('시군명')['인구수'].mean().reset_index()
popul2['인구수'] = popul2['인구수'].astype(int)
popul2

     시군명      인구수
0    가평군    72214
1    고양시   992201
2    과천시    83240
3    광명시   249443
4    광주시   354899
5    구리시   176175
6    군포시   244694
7    김포시   469345
8   남양주시   653388
9   동두천시    86257
10   부천시   763602
11   성남시   986117
12   수원시  1155757
13   시흥시   507287
14   안산시   681173
15   안성시   211614
16   안양시   543914
17   양주시   235005
18   양평군   116867
19   여주시   122555
20   연천군    49343
21   오산시   225973
22   용인시  1050657
23   의왕시   178713
24  의정부시   419111
25   이천시   250471
26   파주시   510787
27   평택시   627320
28   포천시   171992
29   하남시   304452
30   화성시   919545

In [22]:
popul2.to_csv('../../data/경기도/원본/생활인구/전처리/생활인구하루평균.csv',index=False)